<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Variety:</strong>
    <%= product.variety %>
  </p>

  <p>
    <strong>Ditails:</strong>
    <%= product.ditails %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Mfg date:</strong>
    <%= product.mfg_date %>
  </p>

  <p>
    <strong>Exp date:</strong>
    <%= product.exp_date %>
  </p>

</div>
