<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<div class="text-center">
 <h1>Products All</h1>
</div>
<%= render "products/search" %>

<div id="products" class="text-center">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
